.car-container {
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 30px;
}

.products-container {
  margin-top: 80px;
  margin-bottom: 30px;
}

.img {
  width: 55%;
  padding: 35px;
  margin-left: auto;
  margin-right: auto;
}

.text-car {
  background-color: red;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  color: #fff;
}

.grid-item {
  cursor: pointer;
}
